/BuyVowelCommand.class
/ChooseConsonantCommand.class
/Command.class
/ExitCommand.class
/HelpCommand.class
/LoadCommand.class
/NewGameCommand.class
/ResetCommand.class
/SaveCommand.class
/ShowRecordsCommand.class
/ThrowCommand.class
